<!-- Page Header -->
<header class="bg-dark banner" style="background-image: url('<%- url_for(theme.index_cover) %>')">
    <div class='container-fluid'>
        <div class="row justify-content-center py-5">
            <div class="col-lg-8 col-md-10">
                <div class="text-light">
                    <h1 class="display-1 text-center text-capitalize"><%- config.title %></h1>
                    <hr class="small">
                    <h4 class="display-5 text-center font-italic"><%- config.subtitle %></h4>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Intro -->
<% if(theme.intro_title && (theme.intro_text || theme.intro_lead)) { %>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4"><%- theme.intro_title %></h1>
        <p class="lead"> <%- theme.intro_lead %></p>
        <hr class="my-4">
        <p><%- theme.intro_text %></p>
        <% if(theme.intro_btn_link && theme.intro_btn_caption) { %>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="<% url_for(theme.intro_btn_link) %>" role="button"> <% theme.intro_btn_caption%></a>
        </p>
        <% } %>
    </div>
</div>
<% } %>


<!-- Main Content -->
<div class="container">
    <div class="row justify-content-start">
        <div class="col-md-10 offset-md-1 mt-3">

            <% page.posts.each(function(item){ %>
            <%- partial('_partial/article-index', {item: item}) %>
            <% }); %>

            <%- partial('_partial/pagination') %>
        </div>
    </div>
</div>

