<div class="my-3 card">
    <div class="card-body">
        <a class="text-dark" href="<%- config.root %> <%- item.path %>">
            <h2 class="card-title">
                <%- item.title || theme.default_post_title || "Untitled" %>
            </h2>
        </a>
    </div>
    <div class="card-footer">
        <span class="text-muted font-italic">
            <!-- Date and Author -->
            <% if(item.author) { %>
            Posted by <%- item.author %> on
            <% } %>
            <%= item.date.format(config.date_format) %>
        </span>
        <span class="float-right">
            <a class="btn btn-primary" href="<%- url_for(item.path) -%>">Read More</a>
        </span>
    </div>
</div>