<!-- Page Header -->
<!-- Set your background image for this header in your post front-matter: cover -->
<%
var cover = item.cover || '/' + theme.index_cover;
%>
<header class="bg-dark banner" style="background-image: url('<%- cover %>')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-sm-10 offset-sm-1">
                <div class="my-5 text-light">
                    <h1 class="display-1"><%- item.title || theme.default_post_title || "Untitled" %></h1>
                    <% if (item.subtitle && item.subtitle.length) { %>
                    <h2 class="display-6">
                        <%- item.subtitle %>
                    </h2>
                    <% } %>
                    <span class="font-italic text-muted">
                        <!-- Date and Author -->
                        <% if(item.author) { %>
                        Posted by <%- item.author %> on
                        <% } %>
                        <% if(item.date) { %>
                        <%= item.date.format(config.date_format) %>
                        <% } %>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container mt-5">
        <div class="row">

            <!-- Post Main Content -->
            <div class="col-lg-8 offset-lg-2 col-md-10">
                <%- item.content %>

            <% if(theme.addthis) { %>
            <!-- Go to www.addthis.com/dashboard to customize your tools -->
            <script type="text/javascript"
                    src="//s7.addthis.com/js/300/addthis_widget.js#pubid=<%- theme.addthis %>"></script>

            <% } %>
            <!-- Tags and categories -->
            <% if (item.categories && item.categories.length || item.tags && item.tags.length) { %>
            <p class="text-muted">
                <% if (item.tags && item.tags.length){ %>
                <%- partial('article-tags', {item: item}) %>
                <% } else { %>
                <%- partial('article-categories', {item: item}) %>
                <% } %>
                <% if (item.tags && item.tags.length && item.categories && item.categories.length){ %>
                and
                <%- partial('article-categories', {item: item}) %>
                <% } %>
            </p>
            <% } %>
            </div>
        </div>
        <div class="row">
            <!-- Comments -->
            <% if (item.comment != false) { %>
            <div class="col-lg-8 col-md-10 offset-lg-2 ">
                <%- partial("_partial/comments.ejs") %>
            </div>
            <% } %>
        </div>
    </div>
</article>