<ul class="pagination justify-content-between">
    <% if (page.prev){ %>
        <li class="page-item"><a class="page-link" href="<%- config.root %><%- page.prev_link %>">&larr;  <%- __('next')%></a></li>
    <% } %>
    <% if (page.next){ %>
        <li class="page-item"><a class="page-link" href="<%- config.root %><%- page.next_link %>"><%- __('prev')%>  &rarr;</a></li>
    <% } %>
</ul>